@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  }

  @font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-Bold.ttf");
  }  

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("./../assets/fonts/Neucha-Regular.ttf");
}

  body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 100%;
    font: 16px/1.6em 'Open Sans', sans-serif;
    color: #2a2626;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    font-family: Neucha, serif;
    line-height: 1.2em;
  }

  h1 {
    font-size: 72px;
    position: relative;
    margin-bottom: 174px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 34px;
  }
  
  .content {
    position: relative;
    padding: 100px 165px;
  }
  
  .orange {
    color: #fe8a02;
  }

  .background {
    position: relative;
    background-color: #F5F4F0;
  }

  .background::before {
    position: absolute;

    width: 1440px;
    height: 100%;
    
    background-image: url('./../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;

    content: "";
  }

  .main-img {
    position: absolute;
    top: 55px;
    right: -130px;
    z-index: 1;

    height: 525px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
  }

  .item-flex {
    width: 540px;
  }
  .main-title {
    position: relative;
    z-index: 2;
  }

  .main-link {
    display: block;
    box-sizing: border-box;
    
    width: 148px;
    height: 49px;
    padding: 12px 0;

    text-align: center;

    background: #fe8a02;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .artical-video {
    position: relative;
    height: 814px;
  }

  .video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  }

  .center {
    text-align: center;
  }

  .flex-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    background: #42413C;
  }

  .flex-nav-item {
    box-sizing: border-box;
    width: 350px;
    height: 323px;
    padding: 24px;
    background:#F5F4F0;
  }

  .row-2 {
    height: 348px;
  }

  .nav-item-title {
    padding: 0;
    background-color: transparent;
    font-size: 50px;
    color: #fff;
  }

  .num {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1em;
    font-family: Neucha, serif;
  }

  .text-nav {
    padding-top: 16px;
  }



