@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  }

  @font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-Bold.ttf");
  }  

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("./../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --main-background: #ccc;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --translucen-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

  body {
    height: 100%;
    font: 16px/1.6em 'Open Sans', sans-serif;
    color: var(--dark);
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-family: Neucha, serif;
    margin: 0;
    line-height: 1.2em;
    color: var(--main);
    font-weight: 400;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 60px;   
  }

  h3 {
    font-size: 34px;
  }
  
  .content {
    position: relative;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
  }
  
  .dark {
    color: var(--dark);
  }

  .white {
    color: var(--white);
  }

  .background {
    position: relative;
    background-color: var(--light);
    overflow: hidden;
  }

  .background::before {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-image: url('./../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;

    content: "";
  }

  .main-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: 1;

    height: 525px;
  }

  .flex {
    display: flex;
    gap: 30px;
  }

  .column > div {
    flex-basis: 50%;
  }

  .main-title {
    position: relative;
    z-index: 2;

    margin-bottom: 185px;
  }

  .main-link {
    display: inline-block;

    margin-top: 24px;
    margin-left: 570px;

    padding: 12px 24px;

    background: var(--main);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
  }

  .artical-video {
    margin-bottom: -200px;
  }
  
  .video-desription {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .shadow {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  }

  .center {
    text-align: center;
  }

  .bg-dark {
    padding-top: 100px;
    background-color:var(--maindark);
  }

  .flex-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
  }

  .flex-nav > * {
    box-sizing: border-box;
    width: 350px;
    padding: 24px;
    background:var(--light);
  }

  .nav-item-title {
    padding: 0;
    background-color: transparent;
    font-size: 52px;
    
  }

  .num {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1em;
    font-family: Neucha, serif;
  }

  .text-nav {
    padding-top: 16px;
  }

  .theme {
    margin: 0;
    color: var(--translucen-dark);
    font-size: 24px;
    font-family: Neucha, serif;
  }

  .light.theme {
    color: var(--translucent-white);
  }

  .section-description {
    font-size: 34px;
    line-height: 1.2em;
    font-family: Neucha, serif;
  }

  .columns-title {
    font-size: 14px;
    color: var(--white);
    background: var(--brown);
    padding-left: 10px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .light.columns-title {
    color: var(--brown);
    background: var(--white);
  }  
  
  .bg-brown {
    background-color:var(--brown);
  }

  section:nth-child(2n) {
    color: var(--white);
  }


  

  



