@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  }

  @font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    src: url("./../assets/fonts/OpenSans-Bold.ttf");
  }  

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("./../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --main-background: #ccc;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --translucen-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

  body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 100%;
    font: 16px/1.6em 'Open Sans', sans-serif;
    color: var(--dark);
  }

  h1,
  h2,
  h3 {
    font-family: Neucha, serif;
    margin: 0;
    line-height: 1.2em;
  }

  h1 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 181.2px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 34px;
  }
  
  .content {
    padding: 100px 165px;
  }
  
  .orange {
    color: var(--main);
  }

  .background {
    position: relative;
    overflow: hidden;
    background-color: var(--light);
  }

  .background::before {
    position: absolute;

    width: 1440px;
    height: 100%;
    
    background-image: url('./../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;

    content: "";
  }

  .main-img {
    position: absolute;
    top: 55px;
    right: -105px;
    z-index: 1;

    height: 525px;
  }

  .flex {
    display: flex;  
    flex-wrap: wrap;
    gap: 40px 30px;
    justify-content: flex-end;
  }

  .item-flex {
    width: 540px;
  }

  .item-flex p:last-child {
    margin-bottom: 0;
  }

  .main-title {
    position: relative;
    z-index: 2;
  }

  .main-link {
    display: block;
    box-sizing: border-box;
    
    width: 148px;
    height: 48px;
    padding: 12px 0;

    text-align: center;

    background: var(--main);
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
  }

  .artical-video {
    position: relative;
    height: 814px;
  }

  .video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  }

  .center {
    text-align: center;
  }

  .flex-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    background: var(--maindark);
  }

  .flex-nav-item {
    box-sizing: border-box;
    width: 350px;
    height: 323px;
    padding: 24px;
    background:var(--light);
  }

  .row-2 {
    height: 348px;
  }

  .nav-item-title {
    padding: 0;
    background-color: transparent;
    font-size: 50px;
    color: var(--white);
  }

  .num {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1em;
    font-family: Neucha, serif;
  }

  .text-nav {
    padding-top: 16px;
  }

  .flex-img-description {
    display: flex; 
    column-gap: 30px;
  }

  .flex-column {
    display: flex;
    column-gap: 30px;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }
  
  .section-img {
    position: relative;
    vertical-align: middle;
  }

  .theme {
    margin: 0;
    color: var(--translucen-dark);
    font-size: 24px;
    font-family: Neucha, serif;
  }

  .light.theme {
    color: var(--translucent-white);
  }

  .section-name {
    font-weight: 400;
  }

  .section-description {
    font-size: 34px;
    line-height: 1.2em;
    font-family: Neucha, serif;
  }

  .columns-title {
    font-size: 14px;
    color: var(--white);
    background: var(--brown);
    padding-left: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .light.columns-title {
    color: var(--brown);
    background: var(--white);
  }  
  
  .bg-brown {
    background-color:#B09A81;
  }

  section:nth-child(2n) {
    color: var(--white);
  };

  



